$fontBody: 'Consolas';
$H1FontSize: 10vw;
$H2FontSize: 24px;
$H3FontSize: 32px;

$H1FontSizePhone: 10vw;
$H2FontSizePhone: 28px;
$H3FontSizePhone: 32px;

$pFontSizebody: 24px;

$pFontSizebodyPhone: 18px;


$pFontSizeMain: 49px;

