$fontBody: 'Consolas';
$H1FontSize: 10vw;
$H2FontSize: 2vw;
$H3FontSize: 32px;

$H1FontSizePhone: 10vw;
$H2FontSizePhone: 5vw;
$H3FontSizePhone: 1vw;

$pFontSizebody: 24px;

$pFontSizebodyPhone: 16px;


$pFontSizeMain: 49px;

