@use '../sassfile/sassPath' as *;

@mixin blockButtons{
    width: 98%;
    text-align: start;
    background: none;
    font-family: inherit;
    font-size: $H2FontSize;
    border: none;
    border-bottom: solid;
}


@media only screen and (max-width: 600px) {
    body {

        h1{
            font-size: $H1FontSizePhone !important;
        }
        h2{
            font-size: $H2FontSizePhone !important;
        }
        h3{
            font-size: $H3FontSizePhone !important;
        }
        p{
            font-size: $pFontSizebodyPhone !important;
        }
        header{
            position: relative;
            display: block !important;
            height: 110px !important;
            #random-btn{
                margin: 0px 0px 0px 20px;
                text-align: left;
                width: 50vw;
                float: left;
                background-color: $b;
            }
            button{
                width: auto;
            }
            button:nth-of-type(odd){
                position: absolute;
                width: 30vw !important;
                margin-top: 150px !important;
            }
            button#serch-button {
                margin-left: 15vw;
            }
            button #serch-input {
                font-size: 5vw !important;
            
            }
            button select#select-categories{
                font-size: 5vw !important;
            }
        }
        aside nav#header-section p#nav-icon {
            padding-top: 10px !important;
        }
        main{
            height: 85vh !important;
        }
        




    }
}



body{
    margin: 0;
    overflow-y: hidden;
    font-family: $fontBody;
    ::-webkit-scrollbar {
        width: 0px;
      }
    h1{
        font-size: $H1FontSize;
        margin: 0;
    }
    h2{
        font-size: $H2FontSize;
    }
    h3{
        font-size: $H3FontSize;
    }
    p{
        font-size: $pFontSizebody;
    }
    position: relative;
    background-color: $a;
    height: 100%;
    width: 100%;

    header:nth-child(-n + 3){
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: $b;
        height: 200px;
        
        
        button{
            padding: 0;
            border: none;
            font-family: inherit;
            background-color: $d;
            height: 100px;
            width: 20%;

            #serch-input {
                @include blockButtons;
            }

            select#select-categories{
                @include blockButtons;
            }
        }
        button:nth-of-type(even){
            margin: 50px;
        }
        button:nth-of-type(odd){
            margin-top: 50px;
        }
    }
    aside{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: $d;
        overflow-y: scroll;

        nav#header-section{
            z-index: 5;
            float: right;
            background-color: $d;
            height: 50px;
            width: 50px;
            p#nav-icon{
                margin: 0;
                text-align: center;
                padding-top: 5px;
            }
        }
        section{
            display: none;

            #p-array{
                border-bottom: solid;
                margin: 5vW;
            }
        }
        #add-Own-Syssla{
            width: 200px;
            height: 50px;
            border-radius: 40px;
            display: none;
        }
    }
    main{
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 70vh;
    
        p{
            margin: 0;
            padding-top: 5px;
        }
        #main-add{
            border-radius: 40px;
            height: 30px;
            float: right;
            display: none;
        }
        section#show-text{
            margin: 0 60px 0px 60px;
        }
    }
}